/* aside {
  display: none;
}  
@media (min-width: 768px) {
  aside {
    display: block;
  }
} */

.ghost {
  height: 6rem;
}
main {
  overflow-x: hidden;
  overflow-Y: scroll;
  height: calc(100vh - 6rem);
  
  padding: 2rem;
}
main::-webkit-scrollbar {
  width: 1.4rem;
  scrollbar-color: rgba(var(--bg-color));
}
main::-webkit-scrollbar-track {
  background: rgba(var(--bg-color));
}
main::-webkit-scrollbar-thumb {
  background: rgba(var(--blue), .1);
  border-radius: 1rem;
  border: .3rem solid rgba(var(--bg-color));
  transition: .3s all ease-in-out;
}
main::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--blue));
}

@media (min-width: 768px) {
  main {
    padding: 3.2rem;
    /* max-width: 128rem; */
  }
}
