:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  --blue: 33, 158, 188;
  --soft-blue: 142, 202, 230;
  --dark-blue:2, 48, 71;
  --gold-yellow:255, 183, 3;
  --orange:251, 133, 0;
  --text-color: 51, 51, 51;
  --bg-color: 231, 234, 243;
  --white: 250, 250, 250;

}