.user_detail_content {
  display: flex;
  flex-direction: column;
  /* gap: .6rem; */
}
.title_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.6rem;
}

.title_container h2 {
  text-transform: capitalize;
}
.editIcon {
  padding: 1.2rem;
  border-radius: 100%;
  border-radius: 2.4rem;
  background: rgb(var(--gold-yellow));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: auto;
  width: 5rem;
  transition: .3s all ease;
  gap: .4rem;
}
.editIcon span {
  color: rgba(var(--white), .87);
  /* display: none; */
  position: absolute;
  transition: .3s all ease;
  transform: translateX(5rem);
}

.editIcon svg {
  fill: none;
  stroke: rgba(var(--white), .87);
}


.content_page {
  display: flex;
  gap: 2.6rem;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr)) */
}

.user_picture {
  height: 20rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.user_picture .img_container {
  height: 18rem;
  width: 18rem;
  border-radius: 100%;
  background: rgba(var(--white), .87);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.user_picture .img_container input{
  display: none;
}

.hoverContent {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 100%;
  transition: .3s all ease;
  position: absolute;
  background: rgba(51,51,51, .6);
  backdrop-filter: blur(.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.hoverContent svg {
  fill: none;
  height: 6rem;
  stroke: rgba(var(--white), .87);
}
.user_picture .img_container:hover .hoverContent{
  height: 100%;
  width: 100%;
  opacity: 1;
}

.user_picture .img_container img {
  height: 100%;
  object-fit: cover;
}
.user_picture p {
  height: 2rem;
  font-weight: bold;
  color: rgba(var(--dark-blue));
  display: flex;
  justify-content: center;
}

.info_container {
  padding: 2rem;
  background: rgba(var(--white), .87);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  font-weight: bold;
  color: rgba(51,51,51, .7);
  width: min(60rem, 100%);
  /* height: min-content; */
  margin: 0 auto;
  margin-bottom: 2.6rem;
}
.info_container p {
  display: flex;
  align-items: center;
  gap: .6rem;
}
.info_container svg {
  fill: none;
  width: min-content;
  height: 5rem;
  min-width: 5rem;
  padding: .5rem;
  border-radius: 100%;
  transition: .3s all ease;
  background: rgba(var(--soft-blue), .3);
}
.info_container p:hover svg {
  padding: 0;
  transform: rotate(10deg);
}

.change_password {
  display: flex;
  justify-content: center;
}
.change_password button {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 1.2rem;
  background: rgba(var(--dark-blue));
  color: rgba(var(--white), .87);
  justify-content: center;
}
.change_password button svg {
  height: 3rem;
  fill: none;
  width: min-content;
}

.card_dash {
  background: rgba(var(--white), .87);
  /* padding: 2rem; */
  border-radius: 1.2rem;
  position: relative;
  overflow: hidden;
  max-width: 45rem;
}
.card_dash picture {
  position: absolute;
  width: 80%;
  top: 0;
  left: clamp(-3.5rem, 2.5vw, -6rem);
  opacity: .3;
}
.card_dash picture svg {
  height: 100%;
  width: 100%;
  fill: none;
  stroke: rgba(51,51,51, .3);
  /* width: min-content; */
  transform: rotate(25deg);
}
.title_name {
  font-weight: bold;
  display: flex;
  width: 100%;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-bottom: .1rem solid rgba(51,51,51,.5);
  /* margin-bottom: 1.6rem; */
}


.card_content {
  /* padding: 2rem; */
  display: grid;
  gap: 1.6rem;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  /* grid-template-columns: 1fr 1fr; */
}

.card_content .cosecha {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: .6rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}






/* POGRES CIRCLE BAR II */
.skill {
  width: 12rem;
  height: 12rem;
  /* background: cornflowerblue; */
  position: relative;
}
.outer {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  /* border: .1rem solid red; */
  box-shadow: .6rem .6rem 1rem -.1rem rgba(0,0,0,.15),
              -.6rem -.6rem 1rem -.1rem rgba(0,0,0,.15);
  padding: 1.4rem;
}
.inner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,.2),
              inset -4px -4px 6px -1px rgba(255,255,255, .7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0.5px 0.5px 0px rgba(0,0,0,.15),
              0px 12px 10px -10px rgba(0,0,0,.05);
}
.number_porcent {
  font-weight: 600;
  color: #555;
  font-size: 3rem;
}

.skill svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.skill circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 1.6rem;
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  animation: anim 2s linear forwards;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 96;
  }
  
}




@media (min-width: 768px) {
  .editIcon:hover {
    width: 10rem;
  }
  .editIcon:hover span {
    position: relative;
    font-weight: bold;
    transform: translateX(0);
  }

  .info_container {
    width: min(40rem, 100%);;
  }

  .card_dash picture {
    position: absolute;
    width: 60%;
    top: unset;
    bottom: -2.5rem;
    left: clamp(-3.5rem, 2.5vw, -6rem);
    opacity: .3;
  }

  .card_content {
    grid-auto-flow: column;
  }
  .card_content .cosecha {
    border-right: .2rem solid rgba(51,51,51,.1);
  }

  
}